body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.page {
    width: 70%;
    margin: 0 auto;
}

.page header {
    color: white;
    padding: 40px;
    background: #bb0000;
    font-size: 20px;
    text-align: center;
}

.page header .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 250px;
}

.page header h1 {
    text-shadow: 2px 5px 4px #333;
}

.post {
    padding: 5px 20px;
    margin-top: 10px;
    text-align: right;
    background-color: crimson;
    box-shadow: 2px 2px 1px #333;
}

.post:hover {
    box-shadow: 5px 8px 3px #444;
}

.post .content {
    text-align: left;
    color: #333;
}

.content_head {
    text-transform: uppercase;
}

.content_head_theme, .content_head_author {
    line-height: 5px;
}

.content_head_title {
    color: white;
    font-size: 30px;
}

.content_body {
    background-color: rgb(228, 51, 66);
    padding: 20px;
    color: white;
}

.post .published {
    font-size: 12px;
}